.section-container {
  width: 100%;
  height: 100%;
  &__heading {
    text-align: center;
  }
  &__banner {
    height: 50%;
    background-repeat: no-repeat;
  }
  &__sub-section-container {
    &__sub-section {
      text-align: center;
    }
  }
}
